.main {
  width: 100%;
  display: flex;
  padding: 0 3rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 539px) {
    padding: 0 1.5rem;
  }

  &__logo {
    width: 100%;
    padding: 0 3rem;
    max-width: 25rem;
    user-select: none;
    pointer-events: none;

    @media (max-width: 340px) {
      padding: 0 2rem;
    }
  }

  &__search {
    gap: 1rem;
    width: 100%;
    display: flex;
    height: 3.5rem;
    margin: 2rem 0;
    max-width: 40rem;
    transition: 100ms;
    padding: 0 1.5rem;
    position: relative;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid var(--hover);
    justify-content: space-between;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: var(--film);
    }

    @media (max-width: 539px) {
      height: 3rem;
    }
  }

  &__left {
    display: flex;

    svg {
      font-size: 1rem;
      color: var(--grey);
    }
  }

  &__right {
    gap: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
      font-size: 1rem;
      color: var(--grey);
    }

    img {
      width: 1rem;
      cursor: pointer;
    }
  }

  &__input {
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    background: transparent;
  }

  &__buttons {
    gap: 1rem;
    display: flex;

    @media (max-width: 757px) {
      display: none;
    }
  }

  &__button {
    border: 0;
    margin: 1rem 0;
    cursor: pointer;
    transition: 200ms;
    border-radius: 2rem;
    background: transparent;
    padding: 0.875rem 1.875rem;
    border: 1px solid var(--hover);

    &:hover {
      border: 1px solid var(--grey);
    }

    span {
      font-size: 1rem;
      color: var(--white);
    }
  }
}
